
body {
    background-color: #4e4e4e;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: black;
  }
   h2 {
    color: #333;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 150px;
    border-radius: 20px;
    margin-top:10px;
    
  }
  .datos-personales {
    text-align: center; 
    margin-top: 20px; 
    color: white;
  }
  
  
  button {
    background-color: #65727c; 
    padding: 10px 20px; 
    border-radius: 5px; 
    border: none; 
    cursor: pointer; 
  }
  
  header {
    background-color: #bec1d3;
    padding: 20px;
  }

  .header-bg {
    background-image: url(./nelson/assets/background.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 36px; 
  }
  
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    text-align: center;
  }
  
  ul {
    padding-left: 20px;
  }
  
  a {
    color:white;
  }
  

#aboutme,#studies, #skills, #courses, #contact {
    background-color: #fff; 
    border-radius: 10px;
    padding: 20px; 
    margin-bottom: 20px; 
    max-width: 600px; 
   margin-left: auto; 
   margin-right: auto; 
   margin-top: 10px;
  }

  .hover-section {
    background-color: #bec1d3;
    transition: background-color 0.3s ease;
  }
  
  .hover-section:hover {
    background-color: #ff0000; 
  }
  

  .logo-img {
    width: 50px; 
    height: auto;
   
  }
  
  